In [ ]:
SELECT
    customerNumber,
    contactLastName,
    contactFirstName
FROM customers


WHERE customerNumber IN(
    SELECT customerNumber
    FROM orders
    WHERE orderDate = '2003-01-31');

In [ ]:
SELECT
    products.productName,
    SUM(orderdetails.quantityOrdered) AS total_number_sold
FROM products

INNER JOIN orderdetails ON products.productCode = orderdetails.productCode
GROUP BY productName
ORDER BY total_number_sold DESC;

In [ ]:
SELECT 
    COUNT(DISTINCT orders.customerNumber) AS total_number_of_customers,
    products.productName
FROM products

INNER JOIN orderdetails ON products.productCode = orderdetails.productCode
INNER JOIN orders ON orderdetails.orderNumber = orders.orderNumber

GROUP BY productName

ORDER BY total_number_of_customers DESC;

In [ ]:
SELECT
        employees.employeeNumber,
        employees.firstName,
        employees.lastName,
        offices.city AS city_of_office,
        offices.officeCode
       
        
FROM employees

INNER JOIN offices ON employees.officeCode = offices.officeCode
INNER JOIN customers ON employees.employeeNumber = customers.salesRepEmployeeNumber
INNER JOIN orders ON customers.customerNumber = orders.customerNumber
INNER JOIN orderdetails ON orders.orderNumber = orderdetails.orderNumber




WHERE orderdetails.productCode IN (
  SELECT
          orderdetails.productCode
  
  FROM orderDetails
  
  INNER JOIN orders ON orderdetails.orderNumber = orders.orderNumber
  
  GROUP BY orderdetails.productCode
  HAVING COUNT(DISTINCT orders.customerNumber) < 20
      
  )
  
GROUP BY employees.employeeNumber;

In [ ]:
SELECT 
    employees.employeeNumber,
    employees.firstName,
    employees.lastName,
    COUNT(customers.customerNumber) AS number_of_customers
    
FROM employees

INNER JOIN customers ON employees.employeeNumber = customers.salesRepEmployeeNumber

GROUP BY employees.employeeNumber

HAVING AVG(customers.creditLimit) > 15000;