# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [70]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import sqlite3

# loading data from python.db database
con = sqlite3.connect('data/python.db')

# Read 'school' and 'student' tables into pandas dataframe
school_data = pd.read_sql(
        """SELECT *
            FROM school""", con)
        
student_data = pd.read_sql(
        """SELECT *
            FROM student""", con)

In [72]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,id_x,Student ID,student_name,gender,grade,school_name,reading_score,math_score,id_y,School ID,type,size,budget
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,0,District,2917,1910635
1,1,1,Victor Smith,M,12th,Huang High School,94,61,0,0,District,2917,1910635
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,0,District,2917,1910635
3,3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,0,District,2917,1910635
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [79]:
# Create a District Summary
district_summary = pd.DataFrame ({
    "Total Number of Schools : ": [total_number_schools],
    "Total Number of Students : ": [total_number_students],
    "Total Budget : ": [total_budget],
    "Average Math Score : ": [average_math_score],
    "Average Reading Score : ": [average_reading_score],
    "Percentage of Students Passing Math : ": [percentage_passing_math] 
    })

district_summary

,Total Number of Schools :,Total Number of Students :,Total Budget :,Average Math Score :,Average Reading Score :,Percentage of Students Passing Math :
0,15,39170,82932329558,78.985371,81.87784,74.980853

In [81]:
# Total number of schools
total_number_schools = np.unique(school_data_complete["school_name"]).size

print("Total Number of Schools : ", total_number_schools)

Total Number of Schools :  15

In [83]:
# Total number of students
total_number_students = np.unique(school_data_complete["student_name"]).size

print("Total Number of Students : ", total_number_students)

Total Number of Students :  32715

In [85]:
# Total budget
total_budget = school_data_complete["budget"].sum()

print("Total Budget : ", total_budget)

Total Budget :  82932329558

In [87]:
# Average math score
average_math_score = school_data_complete["math_score"].mean()

print("Average Math Score : ", average_math_score)

Average Math Score :  78.98537145774827

In [89]:
# Average reading score
average_reading_score = school_data_complete["reading_score"].mean()

print("Average Reading Score : ", average_reading_score)

Average Reading Score :  81.87784018381414

In [91]:
# Overall average score
average_overall_score = ((average_reading_score + average_math_score) / 2)

print("Average Overall Score : ", average_overall_score)

Average Overall Score :  80.43160582078121

In [93]:
# Percentage of passing math (70 or greater)
students_passing_math = school_data_complete[school_data_complete["math_score"] >= 70]
total_students_passing_math = students_passing_math.shape[0]
total_number_students = school_data_complete.shape[0]

percentage_passing_math = (total_students_passing_math / total_number_students) * 100
print("Percentage of Students Passing Math : ", percentage_passing_math)

Percentage of Students Passing Math :  74.9808526933878

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

### Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [99]:
#  Sort and display the top five schools in overall passing rate
#sort_schools = school_data_complete.groupby("average_overall_score")
#top_five_schools = pd.DataFrame({ "average_overall_score":average_overall_score})
#top_five_schools.head(5)

students_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]
total_students_passing_reading = students_passing_reading.shape[0]
total_number_students = school_data_complete.shape[0]

percentage_passing_reading = (total_students_passing_reading / total_number_students) * 100

percentage_passing_overall = (percentage_passing_math + percentage_passing_reading) / 2



school_summary = pd.DataFrame({
    "School Type :": school_data_complete.groupby("school_name")["type"].first(),
    "Total Number of Students :": total_number_students,
    "Total Budget :": total_budget,
    "Budget per Student :": per_student_budget,
    "Average Math Score :": average_math_score,
    "Average Reading Score :": average_reading_score,
    "Percentage of Students Passing Math :": percentage_passing_math,
    "Percentage of Students Passing Reading :": percentage_passing_reading,
    "Percentage of Students Passing Overall : ": percentage_passing_overall})

#school_summary
#school_summary.head(5)

top_five_schools = school_summary.sort_values(by="Percentage of Students Passing Overall : ", ascending=False).head(5)

top_five_schools

,School Type :,Total Number of Students :,Total Budget :,Budget per Student :,Average Math Score :,Average Reading Score :,Percentage of Students Passing Math :,Percentage of Students Passing Reading :,Percentage of Students Passing Overall :
school_name,,,,,,,,,
Bailey High School,District,39170,82932329558,2.117241e+06,78.985371,81.87784,74.980853,85.805463,80.393158
Cabrera High School,Charter,39170,82932329558,2.117241e+06,78.985371,81.87784,74.980853,85.805463,80.393158
Figueroa High School,District,39170,82932329558,2.117241e+06,78.985371,81.87784,74.980853,85.805463,80.393158
Ford High School,District,39170,82932329558,2.117241e+06,78.985371,81.87784,74.980853,85.805463,80.393158
Griffin High School,Charter,39170,82932329558,2.117241e+06,78.985371,81.87784,74.980853,85.805463,80.393158

In [101]:
# Calculate total school budget
print("Total Budget : ", total_budget)

Total Budget :  82932329558

In [103]:
# Calculate per student budget
total_budget = school_data_complete["budget"].sum()
#print(total_budget)
#print(total_number_students)
per_student_budget = (total_budget / total_number_students)
print("Budget per Student : ", per_student_budget)

Budget per Student :  2117240.989481746

In [105]:
# Cacluate the avg math and reading score
average_math_score = school_data_complete["math_score"].mean()

print("Average Math Score : ", average_math_score)
average_reading_score = school_data_complete["reading_score"].mean()

print("Average Reading Score : ", average_reading_score)

Average Math Score :  78.98537145774827
Average Reading Score :  81.87784018381414

#### Find the passing rate for math and reading (above 70 points)

In [108]:
# Find the total counts of math result
total_count_math_scores = school_data_complete["math_score"].count()

print("Total Math Scores : ", total_count_math_scores)

# Find the counts for math result in each school that pass 70 or higher
total_count_passing_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name")["math_score"].count()

print("Total Passing Math in School : ", total_count_passing_math)
# Calculate the math passing rate
passing_math_rate = (total_count_passing_math.sum() / total_count_math_scores) * 100

print("Passing Math Rate : ", passing_math_rate)

Total Math Scores :  39170
Total Passing Math in School :  school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: math_score, dtype: int64
Passing Math Rate :  74.9808526933878

In [110]:
# Find the total counts of read result
total_count_reading_scores = school_data_complete["reading_score"].count()

print("Total Reading Scores : ", total_count_reading_scores)

# Find the counts for read result in each school that pass 70 or higher
total_count_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name")["reading_score"].count()

print("Total Passing Reading in School : ", total_count_passing_reading)

# Calculate the read passing rate
passing_reading_rate = (total_count_passing_reading.sum() / total_count_reading_scores) * 100

print("Passing reading Rate : ", passing_reading_rate)

Total Reading Scores :  39170
Total Passing Reading in School :  school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: reading_score, dtype: int64
Passing reading Rate :  85.80546336482001

In [112]:
# Calculate the overall passing rate (average of the math and reading passing rate)
overall_passing_rate = (passing_math_rate + passing_reading_rate) / 2

print("Overall Passing rate : ", overall_passing_rate)

Overall Passing rate :  80.39315802910392

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [146]:
#  Sort and display the worst five schools in overall passing rate
worst_five_schools = school_summary.sort_values(by="Percentage of Students Passing Overall : ", ascending=False)

worst_five_schools.head()

,School Type :,Total Number of Students :,Total Budget :,Budget per Student :,Average Math Score :,Average Reading Score :,Percentage of Students Passing Math :,Percentage of Students Passing Reading :,Percentage of Students Passing Overall :
school_name,,,,,,,,,
Bailey High School,District,39170,82932329558,2.117241e+06,78.985371,81.87784,74.980853,85.805463,80.393158
Cabrera High School,Charter,39170,82932329558,2.117241e+06,78.985371,81.87784,74.980853,85.805463,80.393158
Figueroa High School,District,39170,82932329558,2.117241e+06,78.985371,81.87784,74.980853,85.805463,80.393158
Ford High School,District,39170,82932329558,2.117241e+06,78.985371,81.87784,74.980853,85.805463,80.393158
Griffin High School,Charter,39170,82932329558,2.117241e+06,78.985371,81.87784,74.980853,85.805463,80.393158

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [162]:
# Create table that lists the average math score for each school of each grade level.
math_score_ninth_grade = school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name")["math_score"].mean()

#print(math_score_ninth_grade)
math_score_tenth_grade = school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name")["math_score"].mean()
#print(math_score_tenth_grade)
math_score_eleventh_grade = school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name")["math_score"].mean()

math_score_twelfth_grade = school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name")["math_score"].mean()

math_score_for_grade_levels = pd.DataFrame({
    "9th Grade Math Scores":math_score_ninth_grade,
    "10th Grade Math Scores":math_score_tenth_grade,
    "11th Grade Math Scores":math_score_eleventh_grade,
    "12th Grade Math Scores":math_score_twelfth_grade, })

math_score_for_grade_levels

,9th Grade Math Scores,10th Grade Math Scores,11th Grade Math Scores,12th Grade Math Scores
school_name,,,,
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

In [52]:
# Calculate the average math score for 9th grade in each school

math_score_ninth_grade = school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name")["math_score"].mean()

In [54]:
# Calculate the average math score for 10th grade in each school

math_score_tenth_grade = school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name")["math_score"].mean()

In [56]:
# Calculate the average math score for 11th grade in each school

math_score_eleventh_grade = school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name")["math_score"].mean()

In [58]:
# Calculate the average math score for 12th grade in each school

math_score_twelfth_grade = school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name")["math_score"].mean()

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [168]:
# Create table that lists the average reading score for each school of each grade level.
reading_score_ninth_grade = school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name")["reading_score"].mean()

#print(reading_score_ninth_grade)
reading_score_tenth_grade = school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name")["reading_score"].mean()
#print(reading_score_tenth_grade)
reading_score_eleventh_grade = school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name")["reading_score"].mean()

reading_score_twelfth_grade = school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name")["reading_score"].mean()

reading_score_for_grade_levels = pd.DataFrame({
    "9th Grade Reading Scores":reading_score_ninth_grade,
    "10th Grade Reading Scores":reading_score_tenth_grade,
    "11th Grade Reading Scores":reading_score_eleventh_grade,
    "12th Grade Reading Scores":reading_score_twelfth_grade, })

reading_score_for_grade_levels

,9th Grade Reading Scores,10th Grade Reading Scores,11th Grade Reading Scores,12th Grade Reading Scores
school_name,,,,
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

In [170]:
# Calculate the average reading score for 9th grade in each school

reading_score_ninth_grade = school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name")["reading_score"].mean()

In [172]:
# Calculate the average reading score for 10th grade in each school

reading_score_tenth_grade = school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name")["reading_score"].mean()

In [174]:
# Calculate the average reading score for 11th grade in each school

reading_score_eleventh_grade = school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name")["reading_score"].mean()

In [176]:
# Calculate the average reading score for 12th grade in each school

reading_score_twelfth_grade = school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name")["reading_score"].mean()

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [310]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [314]:
# Create a new column to show budget per student in each row
school_data_complete["budget_per_student"] = school_data_complete["budget"] / school_data_complete["size"]
#school_summary["budget_per_student"] = school_summary["budget"] / school_summary["size"]

In [316]:
# Create a new column to define the spending ranges per student

school_data_complete["spending_ranges_per_student"] = pd.cut(school_data_complete["budget_per_student"], spending_bins, labels=group_names)

In [318]:
# Calculate the average math score within each spending range

#average_math_score_within_spending = school_data_complete.groupby("spending_ranges_per_student")["math_score"].mean()
average_math_score_within_spending = school_data_complete.groupby("spending_ranges_per_student",observed=True)["math_score"].mean()

In [320]:
# Calculate the percentage passing rate for math in each spending range

passing_math_rate_within_spending = school_data_complete[school_data_complete["math_score"] >= 70].groupby("spending_ranges_per_student",observed=True) 
                                                                                                    

#print(passing_math_rate_within_spending)

In [322]:
# Calculate the percentage passing rate for reading in each spending range

passing_reading_rate_within_spending = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("spending_ranges_per_student",observed=True)

In [324]:
# Calculate the percentage overall passing rate in each spending range

passing_overall_rate_within_spending = (passing_math_rate_within_spending() + passing_reading_rate_within_spending()) / 2

TypeError: 'DataFrameGroupBy' object is not callable

* Perform the same operations as above, based on school size.

In [246]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [248]:
# Create a new column for the bin groups
school_data_complete["new_bin_groups"] = pd.cut(school_data_complete["size"], bins=size_bins, labels=group_names)

Look for the total count of test scores that pass 70% or higher

In [257]:
# math_pass_size

math_pass_size = school_data_complete[school_data_complete["math_score"] >= 70]["new_bin_groups"].value_counts

In [259]:
# read_pass_size

reading_pass_size = school_data_complete[school_data_complete["reading_score"] >= 70]["new_bin_groups"].value_counts

In [261]:
# Calculate the overall passing rate for different school size

overall_passing_size = (math_pass_size() + reading_pass_size()) / 2
#print(overall_passing_size)

### Scores by School Type

* Perform the same operations as above, based on school type.

In [293]:
# Create bins and groups, school type {'Charter', 'District'}
school_bins = ["Charter", "District"]
#bins_bins = [0,1,2]

#print(school_bins)
school_data_complete["school_bins"] = pd.cut(school_data_complete["type"], bins=school_bins, labels=school_bins)

ValueError: Bin labels must be one fewer than the number of bin edges

Find counts of the passing 70 or higher score for the both test

In [296]:
# math pass size

math_pass_size_school = school_data_complete[school_data_complete["math_score"] >= 70]["school_bins"].value_counts

KeyError: 'school_bins'

In [298]:
# reading pass size

reading_pass_size_school = school_data_complete[school_data_complete["reading_score"] >= 70]["school_bins"].value_counts

KeyError: 'school_bins'

In [328]:
# Calculate the overall passing rate

overall_passing_rate_school = (math_pass_size_school() + reading_pass_size_school()) / 2

NameError: name 'math_pass_size_school' is not defined